/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

/* Custom CSS by me */

#bugzilla-body {
    max-width: revert;
    width: revert;
    margin-left: 15px;
    margin-right: 15px;
}

#component_table {
    max-width: 1024px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
}

table.bz_buglist {
    width: 100%;
}

.bz_buglist .bz_buglist_header.bz_first_buglist_header {
    position: sticky;
    top: 0;
    background: var(--grid-header-background-color);
}

.bz_buglist .bz_buglist_header.bz_first_buglist_header th {
    padding: 4px 8px;
}

.buglist_menu {
    display: flex;
    flex-direction: column;
}

.bz_query_edit {
    padding-left: revert;
}

.buglist_menu > div {
    margin-top: 4px;
}

.buglist_menu > div > * {
    margin-right: 4px;
}

button#xml::after {
    content: 'XML Format';
}

.bz_query_links > a > img,
button#xml img {
    display: none;
}

.bz_query_links > a {
    padding: var(--button-padding);
    border-color: var(--secondary-button-border-color);
    color: var(--secondary-button-foreground-color);
    background-color: var(--secondary-button-background-color);
    font-weight: 500;
    display: inline-block;
    outline: 0;
    border-radius: var(--button-border-radius);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.bz_query_links > a:hover {
    border-color: var(--hovered-secondary-button-border-color);
    color: var(--hovered-secondary-button-foreground-color);
    background-color: var(--hovered-secondary-button-background-color);
}

.bz_query_links > a:nth-child(1)::after {
    content: 'CSV Format';
}

.bz_query_links > a:nth-child(2)::after {
    content: 'Feed Format';
}

.bz_query_links > a:nth-child(3)::after {
    content: 'iCal Format';
}
